[Unit]
Description=A2DP Bluetooth Agent
After=bluetooth.service
Wants=bluetooth.service

[Service]
ExecStartPre=/bin/bash /usr/local/bin/unpair_disconnected force
ExecStart=/usr/bin/python -u /usr/local/bin/a2dp-agent
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=a2dp-agent

[Install]
WantedBy=bluetooth.service
